/* primeiras propriedades: */
* {
    /* define a área de margem nos quatro lados do elemento */
    margin: 0;
    /* distância entre o conteúdo de um elemento e suas bordas */
    padding: 2;
    /* para configurar uma ou mais das propriedades de contorno */
    outline: 0;
}

body {
    /* Definindo a fonte de todo nosso body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: inline-block;
    overflow-x: hidden;
}

li {
    /* retirando as bolinhas das nossas listas */
    list-style: none;
}

.header-menu {
    /* // Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
    display: flex;
    /*position: fixed; /*Deixa o nosso header fixo*/
    width: 100%;
    /*Largura*/
    padding: none;
    /*Espaçamento dos 4 lados*/
    padding-bottom: 30px;
    /*Espaçamento inferior*/
    padding-top: 15px;
    /*Espaçamento superior*/
    height: 10px;
    /*Altura*/
    background-color: #FFD700;
    /*Cor de fundo*/
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 40px;
}

.header-menu nav {
    display: flex;
    /* flexbox */
    justify-content: flex-end;
    width: 100%;
    /*Largura*/

}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    /*Espaçamento entre eles seja igual*/
    width: 100%;
    align-items: center;
    /*Alinhando itens*/
}

/*Pegando os itens com tag a de dentro da nossa lista*/
.lista-menu li>a {
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
}


/*Continuar daqui */

.principal {
    height: 110vh;
    width: 100%;
    display: inline-block;
    background-color: #F0E68C;
}

/* O container é um componente que garante que o seu layout vai ficar alinhado corretamente na página.
Ele pode definir as margens laterais da página, ou deixar sem margens e, também, posiciona o conteúdo no
centro do browser. O container é invisível. */

.container {
    margin-right: auto;
    /*uma margem automática para todos os lados*/
    margin-left: auto;
    /**/
    max-width: 960px;
    /*largura maxima*/
    padding-right: 10px;
    /* Espaçamento direito*/
    padding-left: 10px;
    /*Espaçamento esquerdo*/
    width: 100%;
    /*largura*/
}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nome-completo {
    font-size: 36px;
    color: #C6B5D5;
    font-weight: 700;
    /*espessura*/
    height: 50px;
}

.texto-sobre {
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    height: 150px;
    width: 500px;
    left: 350px;
    top: 450px;
    border-radius: none;


    /*Espaçamento entre as linhas*/
}


#formacao ul {
    list-style: none;
}

#formacao h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 70px 0 60px 40px;
    color: #724796;
}

#formacao h3 {
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 237px;
    color: #9173ac;
}

#formacao a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #2F80ED;
    margin: 0 464px 0 237px;

}

#formacao p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 8px 237px 50px 237px;

}

#projetos ul {
    list-style: none;
}

#projetos h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 20px 0 50px 40px;
    color: #724796;
}

#projetos h3 {
    list-style: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 237px;
    color: #9173ac;
}

#projetos a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #2F80ED;
    margin: 0 464px 0 237px;
}

#projetos p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 8px 237px 50px 237px;
}

.projetos {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

/* Rodapé */
.container-footer {
    margin-right: auto;
    /*uma margem automática para todos os lados*/
    margin-left: auto;
    /**/
    max-width: 1000px;
    /*largura maxima*/
    padding-right: 500px;
    /* Espaçamento direito*/
    padding-left: 10px;
    /*Espaçamento esquerdo*/
    width: 100%;
    /*largura*/
}

.footer {
    background-color: #FFD700;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.estilo-icon {
    font-size: 32px;
    margin-right: 10px;
}

.links {
    text-decoration: none;
    color: white;
}

.lista-footer li {
    color: #FFFF;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.wrapper-portfolio {
    background-color: #2F80ED;
    display: inline-block;
    flex-direction: center;
    position: absolute;
    width: 2000px;
    height: 0px;
    border-radius: 0px;
    left: 0px;
    top: 1400px;
    color: #FF4DBC;

}

#foto {
    width: 180px;
    height: 180px;
    border-radius: 200px;
    margin: 100px 421px 26px 431px;
}

@media screen and (max-width: 768px) {

    section,
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
}